In [1]:
import numpy as np
import pandas as pd

In [5]:
d = pd.read_csv("pnas_tot_topic_mixtures.csv", header=None)
d.head()

          0         1         2         3         4
0  0.000000  0.000000  0.000000  0.000000  1.000000
1  0.000000  0.000000  0.000000  0.000000  1.000000
2  0.057377  0.008197  0.040984  0.000000  0.893443
3  0.061776  0.389961  0.119691  0.413127  0.015444
4  0.085106  0.106383  0.276596  0.446809  0.085106

In [6]:
d["topic"] = d.idxmax(axis=1)
d.head()

          0         1         2         3         4  topic
0  0.000000  0.000000  0.000000  0.000000  1.000000      4
1  0.000000  0.000000  0.000000  0.000000  1.000000      4
2  0.057377  0.008197  0.040984  0.000000  0.893443      4
3  0.061776  0.389961  0.119691  0.413127  0.015444      3
4  0.085106  0.106383  0.276596  0.446809  0.085106      3

In [8]:
d["topic"].value_counts()

4    1187
0     146
2     146
1     127
3     112
Name: topic, dtype: int64